version: "{build}"

skip_tags: true

environment:
  appveyor_repo_tag: true
  matrix:
    - FEATURE: HUGE
#    - FEATURE: NORMAL
# disabled
#    - FEATURE: TINY
#    - FEATURE: SMALL
#    - FEATURE: BIG

matrix:
  fast_finish: true

before_build:
  - '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 /release'
  - 'set INCLUDE=%INCLUDE%C:\Program Files (x86)\Windows Kits\8.1\Include\um'

build_script:
  - src/appveyor.bat

#test_script:
#  - cd src/testdir
#    # Testing with MSVC gvim
#  - path C:\Python35-x64;%PATH%
#  - nmake -f Make_dos.mak VIMPROG=..\gvim
#  - nmake -f Make_dos.mak clean
#    # Testing with MingW console version
#  - nmake -f Make_dos.mak VIMPROG=..\vim

artifacts:
  - path: src\gvim-i386.exe 
    name: release
  - path: src\ver_msvc-i386.txt
    name: release
  - path: src\gvim-AMD64.exe 
    name: release
  - path: src\ver_msvc-AMD64.txt
    name: release

deploy:
    # Deploy to GitHub Releases
  - provider: GitHub
    auth_token:
      secure: I/adDAeOOwlIfiqw2j1C7zhExhLcZige7Fe1ebFNvmJgv/1mvMl8VljAZlkQRJ81
    artifact: release
    draft: false
    prerelease: true

# vim: sw=2 sts=2 et ts=8 sr
